

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    display: flex;
    place-items: center;
    justify-content: center;
}
.container{
    /* margin: 0;
    
    
    display: flex;
    place-items: center;
    justify-content: center; */
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
   
}
.blue-dot{
    background:linear-gradient(40deg,rgba(152, 240, 230, 0.896),rgb(70, 216, 187));
    border-radius: 700px 700px;
    width: 200px;
     height: 200px;
     display: flex;
    place-items: center;
    justify-content: center;
     position: absolute;
     left: -4%;
     top:-5%;
     box-shadow: 3px 2px 2px#ccc;
     display: flex;
     place-items: center;
     justify-content: center; animation: transform-to-right 1.3s forwards;
}


.blue-dot:hover{
    background: rgb(37, 255, 255);
    transition: 1.3s;
}
.purple-dot{
    background:linear-gradient(40deg,rgba(255, 102, 196, 0.896),rgb(196, 52, 228));
    border-radius: 50% 50%;
    width: 150px; 
    height: 100px;
    
    display: flex;
    place-items: center;
    justify-content: center;
     position: absolute;
    margin-bottom: -1200px;
     margin-right: -1400px;
     transform: rotate(360deg);
     transition: 3s;
     
}
.purple-dot2{
    background:linear-gradient(40deg,rgba(255, 102, 196, 0.896),rgb(196, 52, 228));
    border-radius: 50% 50%;
    width: 150px; 
    height: 100px;
    rotate: 320deg;
    display: flex;
    place-items: center;
    justify-content: center;
     position: absolute;
    margin-bottom: -1000px;
     margin-right: -1400px;
     transform: rotate(360deg);
     transition: 3s;
     
}
.purple-dot3{
    background:linear-gradient(40deg,rgba(255, 102, 196, 0.896),rgb(196, 52, 228));
    border-radius: 50% 50%;
    width: 150px; 
    height: 100px;
    rotate: 280deg;
    display: flex;
    place-items: center;
    justify-content: center;
     position: absolute;
    margin-bottom: -900px;
     margin-right: -1300px;
     transform: rotate(360deg);
     transition: 3s;
   
}
.purple-dot4{
    background:linear-gradient(40deg,rgba(255, 102, 196, 0.896),rgb(196, 52, 228));
    border-radius: 50% 50%;
    width: 150px; 
    height: 100px;
    rotate: 240deg;
    display: flex;
    place-items: center;
    justify-content: center;
     position: absolute;
    margin-bottom: -800px;
     margin-right: -1200px;
     transform: rotate(360deg);
     transition: 3s;
     
}
.purple-dot:hover{

    background: rgb(255, 101, 204);
    border: 0.25px solid #fff;
    transition: 0.3s;
    }
.purple-dot2:hover{

background: rgb(255, 101, 204);
border: 0.25px solid #fff;
transition: 0.3s;
}
.purple-dot3:hover{

    background: rgb(255, 101, 204);
    border: 0.25px solid #fff;
    transition: 0.3s;
    }
    .purple-dot4:hover{

        background: rgb(255, 101, 204);
        border: 0.25px solid #fff;
        transition: 0.3s;
        }
.violet-dot1{
    background:linear-gradient(40deg,rgba(233, 176, 255, 0.896),rgb(196, 52, 228));border-radius: 50% 50%;width: 100px; height: 100px;text-indent: none;
    margin-top: 160px;box-shadow: 0px 2px 2px#ccc;
    rotate: 350deg;
  
}
.violet-dot:hover{
   
    background: rgb(241, 86, 255);transform: rotate(360deg) scale(-1.5);
    transition: 1.3s;
}
.purple-dots{
    display: flex;
    margin-top: 300px;
    margin-right: -800px;
    display: flex;
    animation: mymove 5s infinite;
    transform:rotate(340deg);
    transition:3s;
   
}

  .purple-dots:hover{
    transform: rotate(36deg) scale(-1.5) ;
  }



 
.cars{
 
    padding: 10px 30px 10px 30px;
    border: none;background-color: rgb(243, 243, 255);
    border-radius:20px 20px  ;
    outline: none;

text-shadow: 0 0 16px #000000;
animation-name: shain;
animation-iteration-count: infinite;
 animation-duration: 2s;
 animation: transform-to-bottom 1.3s forwards;
    }
 
@keyframes shain {  
0% {  
box-shadow: 0 0 5px #f57e47;  
}  
100% {  
box-shadow: 0 0 80px #e7b04a00;  
}  
}  
.date2{
    padding: 10px 10px 10px 10px;
    border: none;background-color: rgb(243, 243, 255);
    border-radius:20px 20px  ;
    outline: none;
    font-family: 'Rubik', sans-serif;
text-shadow: 0 0 16px #000000;
animation-name: shain;
animation-iteration-count: infinite;
 animation-duration: 2s;
 animation: transform-to-bottom 1.3s forwards;
}
.kind1{
    float:right;
   /* margin-left: -120px;
   margin-top: -50px;
   font-size: 14px; */
    margin-top: 30px;
    animation: transform-to-bottom 1.3s forwards;
  display: block;
}
.kind1 label{
    text-align: right;margin-right: -300px;
    display: flex;
    animation: transform-to-bottom 1.3s forwards;
}
.kind2{
    display: block;
    font-size: 14px;
    /* margin-top: 20px;
  margin-bottom:-60px ; */
  text-align: right;
  margin-top: 30px;
  animation: transform-to-bottom 1.3s forwards;
}
.calc-btn{
    padding: 10px 30px 10px 30px;
    border: none;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    background: #f57e47;
    margin-top: 80px;
    margin-left: 70px;
    animation-name: chain;
animation-iteration-count: infinite;
 animation-duration: 2s;
}
@keyframes chain {  
    0% {  
    box-shadow: 0 0 5px #a6efef;  
    }  
    100% {  
    box-shadow: 0 0 80px #e7b04a00;  
    }  
    }
.insurance{
    
    border: 2px solid #e7b04a00;
    animation: transform-to-bottom 1.3s forwards;
}
.kind1{
    animation: transform-to-bottom 1.3s forwards;
    font-family: 'Rubik', sans-serif; 
}
.inp-radio{
    font-family: 'Rubik', sans-serif;
    animation: transform-to-bottom 1.3s forwards;
}
.kind-of-isc{
    display: flex;
    animation: transform-to-bottom 1.3s forwards;
}
.kind1 input{
    accent-color: #ff4e48;
    animation: transform-to-bottom 1.3s forwards;
}
.kind2 input{
    accent-color: #ff4e48;
    animation: transform-to-bottom 1.3s forwards;
}
@keyframes transform-to-right {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.calc-btn:hover{

  background: url(the-car-goes-in-the-neon-city-cars-live-wallpaper-download-free-14422.gif);
  color: #fff;
  cursor: pointer;
  transition: 3s;
}
.kind-of-isc{
    animation: transform-to-bottom 1.3s forwards;
}
@keyframes transform-to-right {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes transform-to-bottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}